@import "hover.scss";
@import "rules.scss";
@import "media.scss";
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-image: url('../../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .hide {
        display: none;
    }
    .on {
        @include toggle;
    }
}

header {
    @include headeris;
    li {
        display: flex;
        margin-left: auto;
        @include list;
        ul {
            padding: 0.5em;
            margin: auto;
        }
    }
    .fa-bars {
        display: none;
        @include burger;
    }
    .fa-home {
        margin-left: 0.7em;
    }
}

main,
span {
    margin: auto;
    margin-top: 2em;
    text-align: center;
    .row {
        margin-top: 2em;
    }
    p {
        overflow: hidden;
    }
}

main {
    .col-lg-4 {
        img {
            @include transition;
        }
        img:hover {
            @include transformation;
        }
    }
}

footer {
    @include footeris;
    @media (max-width: 576px) {
        text-align: unset;
        padding-left: 100px;
    }
}