@mixin burger {
    @media (max-width: 576px) {
        display: block;
        margin: 0.7em;
        margin-left: auto;
    }
}

@mixin list {
    @media (max-width: 576px) {
        display: none;
        margin: 0.7em;
    }
}

@mixin overflow {
    @media (max-width: 992px) {
        overflow: auto;
    }
}

@mixin menuBurger {
    @keyframes grow {
        from {
            height: 0px;
        }
        to {
            height: 200px;
        }
    }
}