@import "rules";
@import "media";
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    .hide {
        display: none;
    }
    .on {
        @include toggle;
    }
}

.purchase {
    .row {
        .col-sm-12 {
            .btn,
            h3,
            ul {
                margin-left: 2.5em;
            }
        }
        margin-top: 3em;
        .ratas {
            text-align: center;
            .btn {
                margin-top: 1em;
            }
        }
        .btn {
            width: 80%;
        }
    }
}