@import "rules.scss";
@import "media.scss";
@import "hover.scss";
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    .hide {
        display: none;
    }
    .on {
        @include toggle;
    }
}

header {
    @include headeris;
    li {
        display: flex;
        margin-left: auto;
        @include list;
    }
    ul {
        @include spaces;
        font-size: 0.9em;
    }
    a {
        font-size: 0.9em;
    }
}

.row {
    .fa-bars {
        display: none;
        @include burger;
    }
    .shadow {
        box-shadow: 7px 7px 7px 7px gray !important;
    }
    .fa-home {
        margin-left: 0.7em;
    }
    .skylTwo,
    .skylTwo {
        margin-left: 4em;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        text-align: center;
    }
    p {
        text-align: justify;
        max-width: 800px;
        max-height: 400px;
        overflow: auto;
    }
}

.prekes {
    margin-top: 2em;
    .col-lg-3 {
        align-items: center;
        border: solid black 1px;
        text-align: center;
        img {
            margin-top: 2em;
            width: 180px;
            height: 180px;
            @include transition;
        }
        img:hover {
            @include transformation;
        }
        p {
            text-align: center;
            margin-top: 2em;
        }
    }
    a {
        color: red;
        font-size: 20px;
    }
}

footer {
    @include footeris;
    @media (max-width: 576px) {
        text-align: unset;
        padding-left: 2em;
    }
}