@mixin headeris {
    display: flex;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(194, 194, 194);
    align-items: center;
}

@mixin footeris {
    text-align: center;
    margin-top: 2em;
    background-color: rgb(39, 39, 39);
    h4,
    i,
    li {
        color: white;
    }
}

@mixin static_List {
    display: flex;
    margin-left: auto;
}

@mixin spaces {
    padding: 0.5em;
    margin: auto;
}

@mixin transition {
    transition: all ease 0.5s;
}

@mixin toggle {
    display: block;
    width: 150px;
    background-color: rgb(194, 194, 194);
    position: absolute;
    z-index: 1;
    transition: all ease-in 0.5s;
    animation-name: grow;
    animation-duration: 0.5s;
    overflow: hidden;
    @media (min-width: 576px) {
        display: none;
    }
    @include menuBurger;
}