    // @import "hover.scss";
    @import "rules.scss";
    @import "media.scss";
    * {
        box-sizing: border-box;
    }
    
    header {
        @include headeris;
        li {
            display: flex;
            margin-left: auto;
            @include list;
            ul {
                padding: 0.5em;
                margin: auto;
            }
        }
        .fa-bars {
            display: none;
            @include burger;
        }
        .fa-home {
            margin-left: 0.7em;
        }
    }
    
    .wrapper {
        max-width: 576px;
        height: 350px;
        position: absolute;
        left: 0;
        top: 600px;
        bottom: 0;
        right: 0;
        margin: auto;
        text-align: center;
        box-shadow: 5px 5px 8px;
        border-radius: 10px;
        #name,
        #subject,
        #phone,
        #email {
            width: 400px;
            height: 30px;
        }
        #message {
            width: 400px;
            height: 80px;
        }
        .error_message {
            color: red;
        }
    }