* {
    box-sizing: border-box;
}

.kvadratas {
    position: relative;
    width: 50%;
    height: 800px;
    background-color: gray;
    margin: auto;
}

.red_dot {
    /* centruoti turini galima 2 budais. Jei renkames display: grid - tada rasome "place-content: center;
    jei display: flex - tada paliekame zalia koda kuris yra apacioje */
    display: grid;
    border: solid red 10px;
    position: absolute;
    width: 60%;
    height: 480px;
    background: rgba(255, 0, 0, 0.6);
    border-radius: 60%;
    left: calc(20% - 10px);
    /* align-items: center; */
    /* justify-content: center; */
    place-content: center;
    font-size: 3vw;
    color: white;
}


/* ivedame siek tiek animacijos raudonam apskritimui */

.red_dot:hover {
    transform: rotate(360deg) scale(2);
    transition: 1s;
}

.green_dot {
    display: grid;
    border: solid green 10px;
    position: absolute;
    width: 60%;
    height: 480px;
    background: rgba(0, 128, 0, 0.6);
    border-radius: 60%;
    bottom: 0px;
    /* align-items: center;
    justify-content: center; */
    place-content: center;
    font-size: 3vw;
    color: white;
}

.blue_dot {
    display: grid;
    border: solid blue 10px;
    position: absolute;
    width: 60%;
    height: 480px;
    background: rgba(0, 0, 255, 0.6);
    border-radius: 60%;
    bottom: 0px;
    right: 0px;
    /* align-items: center;
    justify-content: center; */
    place-content: center;
    font-size: 3vw;
    color: white;
}