* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.container .hide {
  display: none;
}

.container .on {
  display: block;
  width: 150px;
  background-color: #c2c2c2;
  position: absolute;
  z-index: 1;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container .on {
    display: none;
  }
}

@-webkit-keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

@keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 1em;
  background-color: #c2c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 576px) {
  header li {
    display: none;
    margin: 0.7em;
  }
}

header li ul {
  padding: 0.5em;
  margin: auto;
}

header .fa-bars {
  display: none;
}

@media (max-width: 576px) {
  header .fa-bars {
    display: block;
    margin: 0.7em;
    margin-left: auto;
  }
}

header .fa-home {
  margin-left: 0.7em;
}

main,
span {
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

main .row,
span .row {
  margin-top: 2em;
}

main p,
span p {
  overflow: hidden;
}

main .col-lg-4 img {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

main .col-lg-4 img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer {
  text-align: center;
  margin-top: 2em;
  background-color: #272727;
}

footer h4,
footer i,
footer li {
  color: white;
}

@media (max-width: 576px) {
  footer {
    text-align: unset;
    padding-left: 100px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
}

.container .hide {
  display: none;
}

.container .on {
  display: block;
  width: 150px;
  background-color: #c2c2c2;
  position: absolute;
  z-index: 1;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container .on {
    display: none;
  }
}

@keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 1em;
  background-color: #c2c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 576px) {
  header li {
    display: none;
    margin: 0.7em;
  }
}

header ul {
  padding: 0.5em;
  margin: auto;
  font-size: 0.9em;
}

header a {
  font-size: 0.9em;
}

.row .fa-bars {
  display: none;
}

@media (max-width: 576px) {
  .row .fa-bars {
    display: block;
    margin: 0.7em;
    margin-left: auto;
  }
}

.row .shadow {
  -webkit-box-shadow: 7px 7px 7px 7px gray !important;
          box-shadow: 7px 7px 7px 7px gray !important;
}

.row .fa-home {
  margin-left: 0.7em;
}

.row .skylTwo,
.row .skylTwo {
  margin-left: 4em;
}

.row .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-align: center;
}

.row p {
  text-align: justify;
  max-width: 800px;
  max-height: 400px;
  overflow: auto;
}

.prekes {
  margin-top: 2em;
}

.prekes .col-lg-3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid black 1px;
  text-align: center;
}

.prekes .col-lg-3 img {
  margin-top: 2em;
  width: 180px;
  height: 180px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.prekes .col-lg-3 img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.prekes .col-lg-3 p {
  text-align: center;
  margin-top: 2em;
}

.prekes a {
  color: red;
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 2em;
  background-color: #272727;
}

footer h4,
footer i,
footer li {
  color: white;
}

@media (max-width: 576px) {
  footer {
    text-align: unset;
    padding-left: 2em;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
}

.container .hide {
  display: none;
}

.container .on {
  display: block;
  width: 150px;
  background-color: #c2c2c2;
  position: absolute;
  z-index: 1;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container .on {
    display: none;
  }
}

@keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.purchase .row {
  margin-top: 3em;
}

.purchase .row .col-sm-12 .btn,
.purchase .row .col-sm-12 h3,
.purchase .row .col-sm-12 ul {
  margin-left: 2.5em;
}

.purchase .row .ratas {
  text-align: center;
}

.purchase .row .ratas .btn {
  margin-top: 1em;
}

.purchase .row .btn {
  width: 80%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 1em;
  background-color: #c2c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 576px) {
  header li {
    display: none;
    margin: 0.7em;
  }
}

header li ul {
  padding: 0.5em;
  margin: auto;
}

header .fa-bars {
  display: none;
}

@media (max-width: 576px) {
  header .fa-bars {
    display: block;
    margin: 0.7em;
    margin-left: auto;
  }
}

header .fa-home {
  margin-left: 0.7em;
}

.wrapper {
  max-width: 576px;
  height: 350px;
  position: absolute;
  left: 0;
  top: 600px;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 5px 5px 8px;
          box-shadow: 5px 5px 8px;
  border-radius: 10px;
}

.wrapper #name,
.wrapper #subject,
.wrapper #phone,
.wrapper #email {
  width: 400px;
  height: 30px;
}

.wrapper #message {
  width: 400px;
  height: 80px;
}

.wrapper .error_message {
  color: red;
}
/*# sourceMappingURL=all.css.map */