* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.container .hide {
  display: none;
}

.container .on {
  display: block;
  width: 150px;
  background-color: #c2c2c2;
  position: absolute;
  z-index: 1;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container .on {
    display: none;
  }
}

@-webkit-keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

@keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 1em;
  background-color: #c2c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 576px) {
  header li {
    display: none;
    margin: 0.7em;
  }
}

header li ul {
  padding: 0.5em;
  margin: auto;
}

header .fa-bars {
  display: none;
}

@media (max-width: 576px) {
  header .fa-bars {
    display: block;
    margin: 0.7em;
    margin-left: auto;
  }
}

header .fa-home {
  margin-left: 0.7em;
}

main,
span {
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

main .row,
span .row {
  margin-top: 2em;
}

main p,
span p {
  overflow: hidden;
}

main .col-lg-4 img {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

main .col-lg-4 img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer {
  text-align: center;
  margin-top: 2em;
  background-color: #272727;
}

footer h4,
footer i,
footer li {
  color: white;
}

@media (max-width: 576px) {
  footer {
    text-align: unset;
    padding-left: 100px;
  }
}
/*# sourceMappingURL=index.css.map */