* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
}

.container .hide {
  display: none;
}

.container .on {
  display: block;
  width: 150px;
  background-color: #c2c2c2;
  position: absolute;
  z-index: 1;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container .on {
    display: none;
  }
}

@-webkit-keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

@keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.purchase .row {
  margin-top: 3em;
}

.purchase .row .col-sm-12 .btn,
.purchase .row .col-sm-12 h3,
.purchase .row .col-sm-12 ul {
  margin-left: 2.5em;
}

.purchase .row .ratas {
  text-align: center;
}

.purchase .row .ratas .btn {
  margin-top: 1em;
}

.purchase .row .btn {
  width: 80%;
}
/*# sourceMappingURL=placiau.css.map */