* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 2em;
  background-color: #c2c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 576px) {
  header li {
    display: none;
    margin: 0.7em;
  }
}

header li ul {
  padding: 0.5em;
  margin: auto;
}

header .fa-bars {
  display: none;
}

@media (max-width: 576px) {
  header .fa-bars {
    display: block;
    margin: 0.7em;
    margin-left: auto;
  }
}

header .fa-home {
  margin-left: 0.7em;
}

main,
span {
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

main .row,
span .row {
  margin-top: 2em;
}

main p,
span p {
  overflow: hidden;
}

main .column_one:hover,
main .column_two:hover,
main .column_three:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

footer {
  text-align: center;
  margin-top: 2em;
  background-color: #272727;
}

footer h4,
footer i,
footer li {
  color: white;
}
/*# sourceMappingURL=style.css.map */