* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 1em;
  background-color: #c2c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 576px) {
  header li {
    display: none;
    margin: 0.7em;
  }
}

header li ul {
  padding: 0.5em;
  margin: auto;
}

header .fa-bars {
  display: none;
}

@media (max-width: 576px) {
  header .fa-bars {
    display: block;
    margin: 0.7em;
    margin-left: auto;
  }
}

header .fa-home {
  margin-left: 0.7em;
}

.wrapper {
  max-width: 576px;
  height: 350px;
  position: absolute;
  left: 0;
  top: 600px;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 5px 5px 8px;
          box-shadow: 5px 5px 8px;
  border-radius: 10px;
}

.wrapper #name,
.wrapper #subject,
.wrapper #phone,
.wrapper #email {
  width: 400px;
  height: 30px;
}

.wrapper #message {
  width: 400px;
  height: 80px;
}

.wrapper .error_message {
  color: red;
}
/*# sourceMappingURL=zinute.css.map */