#raudonas {
    margin-top: 2em;
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: red;
    border-radius: 50%;
}

#zalias {
    margin-top: 2em;
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: green;
    border-radius: 50%;
}

#melynas {
    margin-top: 2em;
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: blue;
    border-radius: 50%;
}